/*Grundfarben*/
:root {
    --hintergrund: rgba(179, 228, 255, 1);
    --dunkelblau: rgba(0, 34, 99, 1);
    --mittelblau: rgba(87, 153, 209, 1);
    --anfängerblau: rgba(78, 152, 209, 0.4);
  }

/*Font/Schrift*/
@font-face {
  font-family: 'mighty-souly';
  src: url('font/mighty-souly/mighty-souly.otf') format('truetype');
  }
  @font-face {
    font-family: 'mina-bold';
    src: url('font/mina/Mina-Bold.ttf') format('truetype');
  }
   @font-face {
    font-family: 'mina-regular';
    src: url('font/mina/Mina-Regular.ttf') format('truetype');
  }

  /*basics------------------------------------*/
  body {
    background-color: var(--hintergrund);
    color: var(--dunkelblau);
    display: flex;
    
    width: 100%;
  }
  body {
    display: flex;
    justify-content: center;  /* horizontal zentrieren */
    align-items: center;      /* vertikal zentrieren */
  }

  .titel {
    display:block;
  }
  
  .h1_wellenradar {
    font-family: 'mighty-souly'; /* Beispiel-Schrift für Wellenradar */
    font-size: 40px;                        
    text-align: center;
  }
  
  .h2_california {
    font-family: 'mina-regular';          /* andere Schrift für California */
    font-size: 20px;                      
    font-weight: normal;                   
    text-align: center;
  }

  .inhalt {
  display: flex;
  }

  .map {
width: 5px;
height: 5px;
}

/*Struktur und Layout-------------------------*/




/*Responsive Mobile: bis 768px----------------
@media (max-width: 768px) {
  .inhalte {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
  .titel {
    font-size: 35px;
  }
  .h2_aarehöt {
    font-size: 30px;
  }
  .h3_in {
    font-size: 25px;
  }
  .hauptbox {
    width: 330px;
    height: 330px;
    padding: 10px;
  }
  .button-container {
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
    justify-content: space-evenly;
  }
  .icon-container-luft {
    margin-right: 8px;
  }
  .icon-container-wasser {
    margin-left: 8px;
  }
  .temperaturanzeige {
    font-size: 55px;
  }
  #dateAndtime {
    font-size: 16px;
  }
  #airTempImg, #waterTempImg {
    width: 80px;
    height: 80px;
  }
  #wrapper {
    width: 60px;
    height: 200px;
  }
  #termometer {
    width: 22px;
    height: 200px;
    border: 6px solid var(--dunkelblau);
    border-radius: 16px;
    margin-bottom: 40px;
  }
  #termometer:after {
    width: 42px;
    height: 42px;
    bottom: -34px;
    border: 6px solid var(--dunkelblau);
  }
  #temperature {
    border-radius: 14px;
    background-size: 100% 140px;
  }
  #temperature:before {
    font-size: 0.9em;
  }
} */